{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <div class="container">
        <h1>Dashboard Analytics</h1>
        <div class="dashboard">
            <h3>Expected Compute Needs</h3>
            <p> {{ output }} </p>

            <p> {{ output[0] }} </p>
            <p> {{ output[1] }} </p>
            <p> {{ output[2] }} </p>
            <p> {{ output[4] }} </p>

            <h3>Recommended Compute Purchase</h3>

            <div class="provider">
                <h3>Expected Compute Range</h3>
                <p>10-20 vCPUs, 32-64 GB RAM</p>
            </div>

            <h2>Top 3 Recommended Cloud Providers</h2>
            <div class="provider">
                <h3>1. {{ output[5] }} </h3>
                <p><strong>Recommended Service:</strong> {{ output[6] }} </p>
                <p><strong>Expected Cost:</strong> {{ output[7] }} </p>
                <p><strong>Total Cost:</strong> {{ output[8] }} </p>

                <div class="cost-breakdown">
                    <h4>Cost Breakdown:</h4>
                    <ul>
                        <li>Compute: $400</li>
                        <li>Storage: $50</li>
                        <li>Data Transfer: $50</li>
                    </ul>
                </div>
            </div>

            <div class="provider">
                <h3>2. {{ output[9] }} </h3>
                <p><strong>Recommended Service:</strong> {{ output[10] }} </p>
                <p><strong>Expected Cost:</strong> {{ output[11] }} </p>
                <p><strong>Total Cost:</strong> {{ output[12] }} </p>

                <div class="cost-breakdown">
                    <h4>Cost Breakdown:</h4>
                    <ul>
                        <li>Compute: $400</li>
                        <li>Storage: $50</li>
                        <li>Data Transfer: $50</li>
                    </ul>
                </div>
            </div>


            <div class="provider">
                <h3>3. {{ output[13] }} </h3>
                <p><strong>Recommended Service:</strong> {{ output[14] }} </p>
                <p><strong>Expected Cost:</strong> {{ output[15] }} </p>
                <p><strong>Total Cost:</strong> {{ output[16] }} </p>

                <div class="cost-breakdown">
                    <h4>Cost Breakdown:</h4>
                    <ul>
                        <li>Compute: $400</li>
                        <li>Storage: $50</li>
                        <li>Data Transfer: $50</li>
                    </ul>
                </div>
            </div>

            <h3>Explanation</h3>
            <p> {{ output[17] }} </p>

        </div>
    </div>

{% endblock %}


