<!-- Extend layout template -->
{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<!-- Main container for login form -->
    <main class="container-fluid py-5 text-center">
        <form action="/login" method="post">
            <div class="mb-3">
            <!-- Input field for username -->
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
            <!-- Input field for password -->
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" style="height: 50px;">
            </div>
        <!-- Submit button for form -->
            <button class="btn btn-primary mx-auto w-auto" type="submit">Log In</button>
        </form>
    </main>

{% endblock %}
