<!-- Extend layout template -->
{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<!-- Main container for registration form -->
    <main class="container py-5 text-center">
        <form action="/register" method="post">
            <div class="mb-3">
            <!-- Input field for username -->
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
            <!-- Input field for password -->
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
            <!-- Input field for password confirmation -->
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
            </div>
        <!-- Submit button for registration form-->
            <button class="btn btn-primary mx-auto w-auto" type="submit">Register</button>
        </form>
    </main>

{% endblock %}
